[Unit]
Description=IPFS Daemon
Requires=rc-local.service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=30
ExecStart=/usr/local/bin/ipfs daemon

[Install]
WantedBy=multi-user.target
RequiredBy=ipfs-cluster.target
